html{
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(101deg, #1ff5be, #f53d1f, #1f5cf5, #f41ff5, #59f51f);
    background-size: 1000% 1000%;

    -webkit-animation: bg 38s ease infinite;
    -moz-animation: bg 38s ease infinite;
    -o-animation: bg 38s ease infinite;
    animation: bg 38s ease infinite;
}

@-webkit-keyframes bg {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@-moz-keyframes bg {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@-o-keyframes bg {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@keyframes bg {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}

input{
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    min-width: 50%;
    background-color: transparent;
    transition-duration: 0.5s;
}
input:hover{
    background-color: rgba(0,0,0,0.1);
    transition-duration: 0.5s;
}
button{
    height: 30px;
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    min-width: 30%;
    transition-duration: 0.5s;
    cursor: default;
    background-color: transparent;
}
button:hover{
    background-color: rgba(0,0,0,0.1);
    transition-duration: 0.5s;
}
button:disabled{
    background-color: #ccc;
    transition-duration: 0.5s;
    cursor: wait;
}
a{
    text-decoration: none;
    color: #000;
    font-size: large;
}
a:hover{
    text-decoration: underline;
}
ul{
    list-style-type: none;
    display: inline;
    padding: 0;
    margin: 0;
}
li{
    padding: 5px;
}
div#obj{
    overflow-y: scroll;
    height: 25%;
    border: 1px solid rgb(0, 0, 0);
}
div#vid{
    min-width: 30%;
    width: max-content;
}
div#dl-text{
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s;
}